<html>
<head>

<title>Demo Apps</title>

<script charset="UTF-8" type="text/javascript">
window["adrum-start-time"] = new Date().getTime();
(function(config){
	config.appKey = "SY-AAB-EJG";
	config.adrumExtUrlHttp = "http://cdn.appdynamics.com";
	config.adrumExtUrlHttps = "https://cdn.appdynamics.com";
	config.beaconUrlHttp = "http://syd-col.eum-appdynamics.com";
	config.beaconUrlHttps = "https://syd-col.eum-appdynamics.com";
	config.resTiming = {"bufSize":200,"clearResTimingOnBeaconSend": true};
	config.maxUrlLength = 512;
	config.page = {"captureTitle": true};
	config.fetch = true;
})(window["adrum-config"] || (window["adrum-config"] = {}));
</script>
<script src="//cdn.appdynamics.com/adrum/adrum-20.5.0.3144.js"></script>

</head>
<body>
	<ul>
		<li><a href="/account">Account Service</a></li>
		<li><a href="/order">Order Service</a></li>
	</ul>
</body>
</html>